<h1 class="text-center">Mr Cocktail</h1>
<h4 class="text-center"><%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-light text-primary border border-primary rounded-pill" %></h4>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4 text-white">
        <div class="card bg-dark my-2 p-3">
          <% if cocktail.photo.url.nil? %>

            <%= image_tag "https://picsum.photos/200/300" %>
          <% else %>
            <%= cl_image_tag cocktail.photo, height: 150, crop: :fill %>
          <% end %>
          <h3><%= cocktail.name %></h3>
            <% cocktail.doses.each do |dose| %>
            <p><%= dose.ingredient.name %></p>
          <% end %>
          <%= link_to 'Recepie', cocktail_path(cocktail), class: "btn btn-sm btn-primary text-white" %>
          <%= link_to 'Add an ingredient', new_cocktail_dose_path(cocktail), class: "btn btn-sm btn-primary text-white mt-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


